[package]
name = "novel-cli"
version = "0.3.6"
edition = "2021"
rust-version = "1.70"
license = "MIT OR Apache-2.0"
authors = ["Terakomari <im.terakomari@icloud.com>"]
repository = "https://github.com/novel-rs/cli"
homepage = "https://github.com/novel-rs/cli"
documentation = "https://docs.rs/novel-cli"
description = "Download novels from sfacg and ciweimao"
readme = "README.md"
keywords = ["novel", "sfacg", "ciweimao"]
categories = ["command-line-utilities"]
exclude = ["/tests/data"]

[dependencies]
# https://github.com/novel-rs/opencc-rs
opencc-rs = { version = "0.3.0", default-features = false }
# https://github.com/novel-rs/api
novel-api = { version = "0.7.1", default-features = false }

# https://github.com/yaahc/color-eyre
color-eyre = { version = "0.6.2", default-features = false }
# https://github.com/serde-rs/serde
serde = { version = "1.0.163", default-features = false, features = [
  "std",
  "derive",
] }
# https://github.com/tokio-rs/tokio
tokio = { version = "1.28.2", default-features = false, features = [
  "macros",
  "io-std",
  "fs",
  "sync",
  "process",
  "signal",
  "rt-multi-thread",
  "parking_lot",
] }
# https://github.com/SchrodingerZhu/snmalloc-rs
snmalloc-rs = "0.3.3"
# https://github.com/tkaitchuck/ahash
ahash = { version = "0.8.3", default-features = false, features = [
  "std",
  "runtime-rng",
] }
# https://github.com/Amanieu/parking_lot
parking_lot = { version = "0.12.1", default-features = false, features = [
  "hardware-lock-elision",
] }
# https://github.com/matklad/once_cell
once_cell = { version = "1.18.0", default-features = false, features = [
  "std",
  "parking_lot",
] }
# https://github.com/rusticstuff/simdutf8
simdutf8 = { version = "0.1.4", default-features = false, features = [
  "std",
  "aarch64_neon",
] }
# https://github.com/rayon-rs/rayon
rayon = { version = "1.7.0", default-features = false }
# https://github.com/tokio-rs/tracing
tracing = { version = "0.1.37", default-features = false, features = ["std"] }
# https://github.com/tokio-rs/tracing
tracing-subscriber = { version = "0.3.17", default-features = false, features = [
  "std",
  "fmt",
  "ansi",
  "env-filter",
  "tracing-log",
  "smallvec",
  "parking_lot",
] }
# https://github.com/tokio-rs/tracing
tracing-log = { version = "0.1.3", default-features = false, features = [
  "std",
  "log-tracer",
] }
# https://github.com/rust-lang/libc
libc = { version = "0.2.145", default-features = false, features = ["std"] }
# https://github.com/tokio-rs/bytes
bytes = { version = "1.4.0", default-features = false, features = ["std"] }
# https://github.com/servo/rust-url
url = { version = "2.3.1", default-features = false }
# https://github.com/rust-lang/regex
regex = "1.8.3"
# https://github.com/image-rs/image
image = { version = "0.24.6", default-features = false, features = [
  "png",
  "jpeg",
  "jpeg_rayon",
  "webp",
  "webp-encoder",
] }
# https://github.com/clap-rs/clap
clap = { version = "4.3.1", default-features = false, features = [
  "std",
  "color",
  "help",
  "usage",
  "error-context",
  "suggestions",
  "derive",
  "cargo",
  "wrap_help",
  "unicode",
  "string",
] }
# https://github.com/clap-rs/clap
clap_complete = { version = "4.3.1", default-features = false }
# https://github.com/console-rs/indicatif
indicatif = { version = "0.17.5", default-features = false, features = [
  "improved_unicode",
] }
# https://github.com/console-rs/console
console = { version = "0.15.7", default-features = false, features = [
  "unicode-width",
] }
# https://github.com/nukesor/comfy-table
comfy-table = { version = "6.2.0", default-features = false, features = [
  "tty",
] }
# https://github.com/atanunq/viuer
viuer = { version = "0.6.2", default-features = false }
# https://github.com/conradkleinespel/rpassword
rpassword = { version = "7.2.0", default-features = false }
# https://github.com/Manishearth/pathdiff
pathdiff = { version = "0.2.1", default-features = false, features = [
  "camino",
] }
# https://github.com/BurntSushi/walkdir
walkdir = { version = "2.3.3", default-features = false }
# https://github.com/webdesus/fs_extra
fs_extra = { version = "1.3.0", default-features = false }
# https://github.com/Byron/trash-rs
trash = { version = "3.0.2", default-features = false, features = [
  "coinit_apartmentthreaded",
] }
# https://github.com/Seeker14491/opener
opener = { version = "0.6.1", default-features = false }
# https://github.com/dtolnay/serde-yaml
serde_yaml = { version = "0.9.21", default-features = false }
# https://github.com/toml-rs/toml
toml = { version = "0.7.4", default-features = false, features = ["display"] }
# https://github.com/raphlinus/pulldown-cmark
pulldown-cmark = { version = "0.9.3", default-features = false, features = [
  "simd",
] }
# https://github.com/Byron/pulldown-cmark-to-cmark
pulldown-cmark-to-cmark = { version = "10.0.4", default-features = false }
# https://github.com/zip-rs/zip
zip = { version = "0.6.6", default-features = false, features = [
  "deflate",
  "time",
] }
# https://github.com/1Password/sys-locale
sys-locale = { version = "0.3.0", default-features = false }
# https://github.com/zbraniecki/unic-locale
unic-langid = { version = "0.9.1", default-features = false }
# https://github.com/XAMPPRocky/fluent-templates
fluent-templates = { version = "0.8.0", default-features = false, features = [
  "macros",
] }
# https://github.com/bojand/infer
infer = { version = "0.13.0", default-features = false, features = ["std"] }
# https://github.com/Arc-blroth/memory-stats
memory-stats = { version = "1.1.0", default-features = false }
# https://github.com/hyunsik/bytesize
bytesize = { version = "1.2.0", default-features = false }
# https://github.com/rust-lang/mdBook
mdbook = { version = "0.4.30", default-features = false }
# https://github.com/kardeiz/sanitize-filename
sanitize-filename = { version = "0.4.0", default-features = false }
# https://github.com/magiclen/html-escape
html-escape = { version = "0.2.13", default-features = false, features = [
  "std",
] }
# https://github.com/Peternator7/strum
strum = { version = "0.24.1", default-features = false, features = [
  "std",
  "derive",
] }
# https://github.com/jaemk/self_update
self_update = { version = "0.36.0", default-features = false, features = [
  "archive-zip",
  "compression-zip-deflate",
  "rustls",
] }
# https://github.com/gyscos/cursive
cursive = { version = "0.20.0", default-features = false, features = [
  "crossterm-backend",
] }
# https://github.com/rust-lang/futures-rs
futures = { version = "0.3.28", default-features = false, features = [
  "std",
  "executor",
] }
# https://github.com/zkat/supports-color
supports-color = { version = "2.0.0", default-features = false }
# https://github.com/harryfei/which-rs
which = { version = "4.4.0", default-features = false }
# https://gitlab.com/kornelski/dunce
dunce = { version = "1.0.4", default-features = false }
# https://github.com/BurntSushi/memchr
memchr = { version = "2.5.0", default-features = false, features = ["std"] }
# https://github.com/seanmonstar/num_cpus
num_cpus = { version = "1.15.0", default-features = false }
# https://github.com/stanislav-tkach/os_info
os_info = { version = "3.7.0", default-features = false }

[dev-dependencies]
# https://github.com/rust-pretty-assertions/rust-pretty-assertions
pretty_assertions = { version = "1.3.0", default-features = false, features = [
  "std",
] }
# https://github.com/assert-rs/assert_cmd
assert_cmd = { version = "2.0.11", default-features = false, features = [
  "color-auto",
] }
# https://github.com/Stebalien/tempfile
tempfile = { version = "3.5.0", default-features = false }
# https://github.com/becheran/ntest
ntest = { version = "0.9.0", default-features = false }

[profile.release]
debug = 1
lto = true
codegen-units = 1
