[package]
name = "novel-cli"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["Terakomari <im.terakomari@icloud.com>"]
repository = "https://github.com/novel-rs/cli"
homepage = "https://github.com/novel-rs/cli"
documentation = "https://docs.rs/novel-cli"
description = "Download novels from sfacg and ciweimao"
readme = "README.md"
keywords = ["novel", "sfacg", "ciweimao"]
categories = ["command-line-utilities"]

[dependencies]
# https://github.com/novel-rs/opencc-rs
opencc-rs = "0.2.0"
# https://github.com/novel-rs/api
novel-api = "0.2.0"

# https://github.com/dtolnay/anyhow
anyhow = "1.0.68"
# https://github.com/serde-rs/serde
serde = { version = "1.0.152", features = ["derive"] }
# https://github.com/tokio-rs/tokio
tokio = { version = "1.24.2", features = [
  "macros",
  "io-std",
  "fs",
  "sync",
  "process",
  "rt-multi-thread",
  "parking_lot",
] }
# https://github.com/SchrodingerZhu/snmalloc-rs
snmalloc-rs = "0.3.3"
# https://github.com/tkaitchuck/ahash
ahash = "0.8.3"
# https://github.com/Amanieu/parking_lot
parking_lot = { version = "0.12.1", features = ["hardware-lock-elision"] }
# https://github.com/matklad/once_cell
once_cell = { version = "1.17.0", features = ["parking_lot"] }
# https://github.com/rusticstuff/simdutf8
simdutf8 = { version = "0.1.4", features = ["aarch64_neon"] }
# https://github.com/rayon-rs/rayon
rayon = "1.6.1"
# https://github.com/tokio-rs/tracing
tracing = { version = "0.1.37", default-features = false, features = ["std"] }
# https://github.com/tokio-rs/tracing
tracing-subscriber = { version = "0.3.16", features = [
  "env-filter",
  "local-time",
  "parking_lot",
] }
# https://github.com/tokio-rs/tracing
tracing-log = "0.1.3"
# https://github.com/tokio-rs/bytes
bytes = "1.3.0"
# https://github.com/servo/rust-url
url = "2.3.1"
# https://github.com/rust-lang/regex
regex = "1.7.1"
# https://github.com/image-rs/image
image = { version = "0.24.5", default-features = false, features = [
  "png",
  "jpeg",
  "jpeg_rayon",
  "webp",
  "webp-encoder",
] }
# https://github.com/clap-rs/clap
clap = { version = "4.1.4", features = [
  "derive",
  "cargo",
  "wrap_help",
  "unicode",
  "string",
] }
# https://github.com/clap-rs/clap
clap_complete = "4.1.1"
# https://github.com/console-rs/indicatif
indicatif = { version = "0.17.3", features = ["improved_unicode"] }
# https://github.com/console-rs/console
console = { version = "0.15.5", default-features = false, features = [
  "unicode-width",
] }
# https://github.com/nukesor/comfy-table
comfy-table = "6.1.4"
# https://github.com/atanunq/viuer
viuer = "0.6.2"
# https://github.com/sunfishcode/is-terminal
is-terminal = "0.4.2"
# https://github.com/conradkleinespel/rpassword
rpassword = "7.2.0"
# https://github.com/Manishearth/pathdiff
pathdiff = { version = "0.2.1", features = ["camino"] }
# https://github.com/BurntSushi/walkdir
walkdir = "2.3.2"
# https://github.com/webdesus/fs_extra
fs_extra = "1.2.0"
# https://github.com/Byron/trash-rs
trash = "3.0.0"
# https://github.com/Seeker14491/opener
opener = "0.5.0"
# https://github.com/dtolnay/serde-yaml
serde_yaml = "0.9.17"
# https://github.com/toml-rs/toml
toml = { version = "0.6.0", default-features = false, features = ["display"] }
# https://github.com/raphlinus/pulldown-cmark
pulldown-cmark = { version = "0.9.2", default-features = false, features = [
  "simd",
] }
# https://github.com/Byron/pulldown-cmark-to-cmark
pulldown-cmark-to-cmark = "10.0.4"
# https://github.com/zip-rs/zip
zip = { version = "0.6.3", default-features = false, features = [
  "deflate",
  "time",
] }
# https://github.com/1Password/sys-locale
sys-locale = "0.2.3"
# https://github.com/zbraniecki/unic-locale
unic-langid = "0.9.1"
# https://github.com/XAMPPRocky/fluent-templates
fluent-templates = "0.8.0"
# https://github.com/bojand/infer
infer = "0.12.0"
# https://github.com/Arc-blroth/memory-stats
memory-stats = "1.1.0"
# https://github.com/hyunsik/bytesize
bytesize = "1.1.0"
# https://github.com/rust-lang/mdBook
mdbook = { version = "0.4.25", default-features = false }
# https://github.com/kardeiz/sanitize-filename
sanitize-filename = "0.4.0"
# https://github.com/magiclen/html-escape
html-escape = "0.2.13"
# https://github.com/Peternator7/strum
strum = { version = "0.24.1", features = ["derive"] }
# https://github.com/jaemk/self_update
self_update = { version = "0.34.0", default-features = false, features = [
  "archive-zip",
  "compression-zip-deflate",
  "rustls",
] }

[dev-dependencies]
# https://github.com/rust-pretty-assertions/rust-pretty-assertions
pretty_assertions = "1.3.0"
# https://github.com/assert-rs/assert_cmd
assert_cmd = "2.0.8"
